@import 'sizes';

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 8px;
  border: 1px solid;
  width: 90%;
  margin: 0 auto;
  height: fit-content;
  z-index: 10;
  background-color: #fff;
  box-shadow: 0 0 15px 0 #808080;

  &__header {
    height: 75px;
  }

  &__header-data {
    position: relative;
    top: 75px;
  }

  &__profile-picture {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
      border-radius: 50%;
      max-height: 100%;
      border-left: $profile_picture_border;
      border-bottom: $profile_picture_border;
      border-right: $profile_picture_border;
    }
  }

  &__body {
    margin-top: calc(#{$standard_space} + 75px);
    padding: $standard_space;
  }

  &__title {
    font-size: 2rem;
  }

  &__subtitle {
    font-size: 1.7rem;
  }

  &__location {
    margin: 0;
    margin-top: 0.5rem;
    font-size: 1.5rem;
    letter-spacing: 2px;
  }

  &__title, &__subtitle, &__location {
    text-align: center;
  }

  .card__passion {
    display: block;
    margin-top: $standard_space;

    &-icon {
      margin-right: 0.8rem;
    }

    &-label {
      letter-spacing: 1px;
    }
  }

  .card__social-networks {
    margin-top: calc(#{$standard_space} * 2);
  }

  .card__social-networks-body {
    display: flex;
    justify-content: space-around;
    padding: $standard_space 0;
  }

  .card__sn {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 50px;

    svg {
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      &.fa-linkedin {
        color: $sn_linkedin;
      }

      &.fa-github-square {
        color: $sn_github;
      }

      &.fa-twitter-square {
        color: $sn_twitter;
      }
    }
  }

  .card__more-body {
    padding: $standard_space 0;
  }

  @media (min-width: 768px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: row;
    width: 60%;
    padding: 2rem;

    &__header {
      width: 30%;
      height: unset;
      margin-right: 2rem;

      &-data {
        position: unset;
      }
    }
    &__body {
      width: 70%;
      margin-top: unset;
      top: unset;
    }
    &__profile-picture {
      position: unset;
      transform: unset;
      margin: 2rem auto;
    }

    div.card__social-networks-body {
      justify-content: unset;
    }
  }
}



